# Netwrix Auditor
NA_BASE_URL=https://your-na-server:9699/netwrix/api/v1
NA_USERNAME=DOMAIN\netwrix_service
NA_PASSWORD=your_password

# Netwrix Data Classification
NDC_BASE_URL=http://your-ndc-server/netwrix/dataclassification
NDC_USERNAME=DOMAIN\netwrix_service
NDC_PASSWORD=your_password

# InfluxDB
INFLUXDB_TOKEN=your_influxdb_admin_token_here

# Rails
SECRET_KEY_BASE=run_rails_secret_to_generate
